@charset "utf-8";
/* CSS Document */
a:link{color:black;}
a:visited{color:#0217FF}
a:hover{color:#FC0004;}
a:active{color:white;}
body { padding:0em 0em; font : 100%/1.4 Asul, arial, helvetica, helve, sans-serif;} 	

header {background-color:#4B88F4; text-align:center;font-size:2.2em; padding:0 0 .1em 0;}

div .col{background-color:#4B88F4; } 
 
nav{
	padding: .1 em .1 em;
	font-size: 18px;
	font-weight: bolder;
	text-align:center;
}

img { 
    position:absolute;
	background-image: url(../images/notebook.png);
	background-repeat: no-repeat;
	width:100%; 	background-size: cover;
    background-position:top;
	}
	
	h2 {
	/*text-shadow: 2px 2px grey;*/
	font-size:2em; 
	text-align:center; 
	position:relative; 
	margin-top:100px;
	margin-left:10%; 
	margin-right:auto;}
	
	p{
	/*text-shadow: 2px 2px grey;*/
	position:relative;
	text-align: left;
	font-weight: bolder;
	font-size:25px;
	margin-left: 13%;
	margin-right: 13%;
	margin-top: 15px;
	margin-bottom: 0px;
}
	#one{ margin-top:29px;}
	
	#two{ margin-top:35px;}
	
	#three{ margin-top:31px;}
