@charset "UTF-8";
/* CSS Document */
body{ margin-top: 100px; background-color:#E8E4E4}
p{  text-align:center; margin-left:300px; margin-right:300px; font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;}
h3{ text-align:center; margin-left:300px; margin-right:300px;font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;}
h4{ text-align:center; margin-left:300px; margin-right:300px;font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; }
nav{ text-align:center; margin-left:300px;margin-right:300px;font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;}